body {
    font-family: sans-serif;
    background-color:aqua;
    margin: 2rem;
    background-image: url('photos/example.gif');
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: pink;
    -webkit-text-stroke: .25em white;
    paint-order: stroke fill;
}

nav {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    height: min-content;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

a:any-link {
    color: rgb(1, 91, 170);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline wavy rgb(1, 91, 170);
}

.bubble {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#me {
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

img {
    max-width: 500px;
    max-height: 500px;
}

#links {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

footer {
    text-align: center;
}